# Dependencies
node_modules/
.pnp/
.pnp.js

# Build outputs
dist/
build/
.next/
out/

# Env
.env
.env.local
.env.*.local

# DB & temp
.tmp/
*.log
.DS_Store
Thumbs.db

# Prisma
prisma/migrations/

# Vercel
.vercel

# Render
.render
