# Dependencies
node_modules/
.pnp/
.pnp.js

# Build outputs
dist/
build/
.next/
out/

# Env
.env
.env.local
.env.*.local

# DB & temp
.tmp/
*.log
.DS_Store
Thumbs.db

# Prisma - keep migrations committed for Render `migrate deploy`

# Vercel
.vercel

# Render
.render
*.tsbuildinfo
vite.config.js
vite.config.d.ts
